<app-toolbar></app-toolbar>

<div class="home-container">
    <div [class]="'card ' + (status ? 'on' : 'off')">
        <p class="status">{{status ? "ON" : "OFF"}}</p>
        <span class="spacer"></span>
        <p class="description">{{status ? 'hh:mm:ss' : 'Parado hace XX min'}}</p>
        <span class="spacer"></span>
        <button mat-icon-button [color]="status ? 'primary' : 'secondary'" (click)="setStatus(!status)">
            <mat-icon>{{status ? 'pause' : 'play_arrow'}}</mat-icon>
        </button>
    </div> 
</div>
