.home-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tab-valv {
    width: 100%;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #4af735;
    margin-right: 5px;
}

.page-valv {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 400px;
    padding: 5px 10px 5px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.card .status
{
    font-size: 24px;
}

.card.on .status{
    color: #4af735;
}

.card.off .status
{
    color: #f74135;
}

.card p {
    margin: 0;
}

.card .description {
    color: grey;
}