.test
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.home-container
{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 400px;
    padding: 5px 10px 5px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.card .status
{
    font-size: 24px;
}

.card.on .status{
    color: #4af735;
}

.card.off .status
{
    color: #f74135;
}

.card p {
    margin: 0;
}

.card .description {
    color: grey;
}