<app-toolbar></app-toolbar>

<div class="home-container">
    <mat-tab-group animationDuration="0ms" class="tab-valv" mat-stretch-tabs>
        <mat-tab *ngFor="let valvula of valvulas">
            <ng-template mat-tab-label class="tab-label">
                <div class="circle" *ngIf="valvula.open"></div>
                {{valvula.id}}
            </ng-template>
            <div class="page-valv">
                <app-manual-card class="manualcard" [valvula]="valvula" />
            </div>
        </mat-tab> 
    </mat-tab-group>
</div>
