.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px 0;
}

.card .status
{
    font-size: 24px;
}

.card.on .status{
    color: #4af735;
}

.card.off .status
{
    color: #f74135;
}

.card p {
    margin: 0;
}

.card .description {
    color: grey;
}