.page-valv {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manualcard {
    width: 100%;
    max-width: 400px;
}

.title-programas {
    font-size: 1.4em;
    margin: 30px 0 20px 0;
}

.programs-list
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.program-item
{
    width: 100%;
}

.add-program {
    margin-top: 30px;
    width: 60px;
    height: 60px;
}

.add-program mat-icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
}