.dialog {
    padding: 20px;
}

.content {
    margin-bottom: 20px;
}

.content p {
    font-size: 1.1em;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}